<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <!-- БД локальная -->
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/lab3</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123456</property>
        <!-- БД HELIOS -->
<!--        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5433/studs</property>-->
<!--        <property name="hibernate.connection.username">s265082</property>-->
<!--        <property name="hibernate.connection.password">jwm552</property>-->

        <property name="hbm2ddl.auto">create</property>

        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <mapping class="app.Entities.Point" />
        <mapping class="app.Entities.User" />

    </session-factory>
</hibernate-configuration>
